In [2]:
import pandas as pd
import numpy as np
from PIL import Image

In [3]:
import cv2
import os

In [4]:
df = pd.read_csv('data_training.csv', index_col = 0)

In [5]:
df.head()

,Pix_1,Pix_2,Pix_3,Pix_4,Pix_5,Pix_6,Pix_7,Pix_8,Pix_9,Pix_10,...,Pix_776,Pix_777,Pix_778,Pix_779,Pix_780,Pix_781,Pix_782,Pix_783,Pix_784,label
0,165.0,165.0,164.0,165.0,166.0,162.0,203.0,150.0,152.0,171.0,...,98.0,96.0,94.0,114.0,124.0,128.0,100.0,106.0,93.0,0
1,60.0,77.0,103.0,115.0,143.0,144.0,148.0,152.0,154.0,155.0,...,121.0,123.0,116.0,111.0,112.0,105.0,106.0,102.0,99.0,0
2,171.0,207.0,150.0,114.0,142.0,121.0,97.0,50.0,51.0,61.0,...,104.0,104.0,106.0,111.0,112.0,111.0,116.0,114.0,115.0,0
3,117.0,115.0,112.0,111.0,108.0,105.0,97.0,76.0,64.0,56.0,...,47.0,57.0,76.0,93.0,87.0,81.0,96.0,138.0,190.0,0
4,107.0,105.0,98.0,113.0,116.0,107.0,109.0,115.0,105.0,114.0,...,42.0,43.0,45.0,48.0,46.0,47.0,104.0,126.0,118.0,0

In [6]:
df.shape

(1383, 785)

In [16]:
IMG_DIR = '/Users/Nikki/Downloads/ML_proj_test/data3a/validation/01-minor'

In [17]:
for img in os.listdir(IMG_DIR):
    img_array = cv2.imread(os.path.join(IMG_DIR,img), cv2.IMREAD_GRAYSCALE)

    img_pil = Image.fromarray(img_array)
    img_28x28 = np.array(img_pil.resize((28, 28), Image.ANTIALIAS))

    img_array = (img_28x28.flatten())

    img_array  = img_array.reshape(-1,1).T

    with open('val_01_minor.csv', 'ab') as f:

        np.savetxt(f, img_array, delimiter=",")

In [18]:
IMG_DIR = '/Users/Nikki/Downloads/ML_proj_test/data3a/validation/02-moderate'

for img in os.listdir(IMG_DIR):
    img_array = cv2.imread(os.path.join(IMG_DIR,img), cv2.IMREAD_GRAYSCALE)

    img_pil = Image.fromarray(img_array)
    img_28x28 = np.array(img_pil.resize((28, 28), Image.ANTIALIAS))

    img_array = (img_28x28.flatten())

    img_array  = img_array.reshape(-1,1).T

    with open('val_02_moderate.csv', 'ab') as f:

        np.savetxt(f, img_array, delimiter=",")

In [19]:
IMG_DIR = '/Users/Nikki/Downloads/ML_proj_test/data3a/validation/03-severe'

for img in os.listdir(IMG_DIR):
    img_array = cv2.imread(os.path.join(IMG_DIR,img), cv2.IMREAD_GRAYSCALE)

    img_pil = Image.fromarray(img_array)
    img_28x28 = np.array(img_pil.resize((28, 28), Image.ANTIALIAS))

    img_array = (img_28x28.flatten())

    img_array  = img_array.reshape(-1,1).T

    with open('val_03_severe.csv', 'ab') as f:

        np.savetxt(f, img_array, delimiter=",")

In [20]:
val_minor = pd.read_csv("val_01_minor.csv", header=None)

columnnames = {}
count = 0
for i in val_minor.columns:
  count += 1
  columnnames[i] = f"Pix_{count}"
val_minor.rename(columns = columnnames ,inplace = True)

val_minor['label'] = 0
val_minor.head()

,Pix_1,Pix_2,Pix_3,Pix_4,Pix_5,Pix_6,Pix_7,Pix_8,Pix_9,Pix_10,...,Pix_776,Pix_777,Pix_778,Pix_779,Pix_780,Pix_781,Pix_782,Pix_783,Pix_784,label
0,90.0,96.0,45.0,8.0,13.0,11.0,10.0,15.0,29.0,27.0,...,14.0,25.0,37.0,26.0,22.0,24.0,19.0,18.0,25.0,0
1,142.0,168.0,168.0,176.0,183.0,181.0,182.0,178.0,181.0,182.0,...,30.0,35.0,30.0,32.0,36.0,45.0,48.0,42.0,54.0,0
2,196.0,206.0,206.0,206.0,205.0,203.0,202.0,201.0,200.0,199.0,...,123.0,122.0,120.0,121.0,120.0,122.0,122.0,122.0,121.0,0
3,90.0,80.0,89.0,61.0,70.0,86.0,147.0,80.0,107.0,123.0,...,99.0,97.0,95.0,95.0,94.0,93.0,94.0,94.0,94.0,0
4,40.0,73.0,68.0,61.0,70.0,57.0,142.0,157.0,151.0,151.0,...,49.0,49.0,46.0,43.0,40.0,39.0,38.0,37.0,35.0,0

In [21]:
val_severe = pd.read_csv("val_03_severe.csv", header=None)

columnnames = {}
count = 0
for i in val_severe.columns:
  count += 1
  columnnames[i] = f"Pix_{count}"
val_severe.rename(columns = columnnames ,inplace = True)

val_severe['label'] = 3
val_severe.head()

,Pix_1,Pix_2,Pix_3,Pix_4,Pix_5,Pix_6,Pix_7,Pix_8,Pix_9,Pix_10,...,Pix_776,Pix_777,Pix_778,Pix_779,Pix_780,Pix_781,Pix_782,Pix_783,Pix_784,label
0,142.0,151.0,159.0,168.0,168.0,170.0,175.0,178.0,178.0,184.0,...,25.0,58.0,157.0,168.0,156.0,127.0,108.0,89.0,40.0,3
1,131.0,131.0,183.0,213.0,169.0,42.0,86.0,55.0,28.0,25.0,...,205.0,202.0,206.0,249.0,252.0,250.0,252.0,251.0,255.0,3
2,180.0,175.0,169.0,158.0,155.0,138.0,125.0,123.0,137.0,133.0,...,78.0,89.0,89.0,89.0,88.0,87.0,88.0,90.0,90.0,3
3,107.0,144.0,102.0,78.0,134.0,119.0,141.0,167.0,168.0,181.0,...,118.0,117.0,136.0,142.0,155.0,165.0,169.0,167.0,175.0,3
4,0.0,1.0,2.0,11.0,9.0,0.0,25.0,29.0,37.0,42.0,...,0.0,1.0,2.0,2.0,3.0,6.0,5.0,1.0,0.0,3

In [22]:
val_moderate = pd.read_csv("val_02_moderate.csv", header=None)

columnnames = {}
count = 0
for i in val_moderate.columns:
  count += 1
  columnnames[i] = f"Pix_{count}"
val_moderate.rename(columns = columnnames ,inplace = True)


val_moderate['label'] = 1
val_moderate.head()

,Pix_1,Pix_2,Pix_3,Pix_4,Pix_5,Pix_6,Pix_7,Pix_8,Pix_9,Pix_10,...,Pix_776,Pix_777,Pix_778,Pix_779,Pix_780,Pix_781,Pix_782,Pix_783,Pix_784,label
0,124.0,116.0,185.0,185.0,174.0,173.0,209.0,151.0,135.0,162.0,...,148.0,152.0,154.0,156.0,157.0,155.0,151.0,149.0,148.0,1
1,158.0,133.0,130.0,125.0,138.0,147.0,152.0,156.0,156.0,155.0,...,17.0,17.0,21.0,24.0,28.0,30.0,32.0,34.0,38.0,1
2,203.0,236.0,195.0,164.0,145.0,143.0,98.0,64.0,59.0,83.0,...,18.0,84.0,109.0,112.0,83.0,28.0,58.0,69.0,67.0,1
3,251.0,251.0,248.0,247.0,245.0,132.0,69.0,95.0,41.0,53.0,...,50.0,46.0,43.0,40.0,40.0,39.0,38.0,40.0,48.0,1
4,161.0,167.0,156.0,169.0,183.0,184.0,199.0,195.0,179.0,176.0,...,9.0,10.0,14.0,20.0,35.0,80.0,97.0,89.0,79.0,1

In [27]:
val_data=pd.concat([val_minor,val_moderate,val_severe], ignore_index=True)
val_data.shape

(248, 785)

In [28]:
val_data.tail()

,Pix_1,Pix_2,Pix_3,Pix_4,Pix_5,Pix_6,Pix_7,Pix_8,Pix_9,Pix_10,...,Pix_776,Pix_777,Pix_778,Pix_779,Pix_780,Pix_781,Pix_782,Pix_783,Pix_784,label
243,233.0,217.0,176.0,117.0,64.0,79.0,126.0,96.0,73.0,89.0,...,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,3
244,94.0,87.0,92.0,108.0,144.0,162.0,178.0,166.0,188.0,126.0,...,135.0,227.0,137.0,91.0,83.0,40.0,46.0,38.0,38.0,3
245,236.0,236.0,237.0,237.0,238.0,240.0,242.0,242.0,243.0,243.0,...,241.0,240.0,241.0,242.0,240.0,241.0,241.0,241.0,240.0,3
246,70.0,103.0,97.0,91.0,77.0,98.0,124.0,113.0,126.0,129.0,...,155.0,147.0,129.0,92.0,81.0,83.0,76.0,79.0,100.0,3
247,98.0,99.0,96.0,92.0,91.0,92.0,100.0,95.0,151.0,139.0,...,245.0,229.0,211.0,178.0,150.0,143.0,136.0,127.0,130.0,3

In [30]:
val_data.to_csv('validation_data.csv')

In [29]:
X_train=df.iloc[:,:-1]
y_train=df.iloc[:,-1]
X_test=val_data.iloc[:,:-1]
y_test=val_data.iloc[:,-1]